<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":[],"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"62.5rem"}} -->
<main class="wp-block-group" style="padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"3rem"},"elements":{"link":{"color":{"text":"var:preset|color|custom-h-1-h-3"}}}},"textColor":"custom-h-1-h-3"} /--></main>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:post-content /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->