<!-- wp:group {"metadata":{"name":"Header"},"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","tagName":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"header","metadata":{"name":"Main"},"layout":{"type":"constrained","contentSize":"rem"}} -->
<header class="wp-block-group"><!-- wp:post-title {"textAlign":"center","level":1,"style":{"spacing":{"margin":{"top":"3.5rem"}}}} /-->

<!-- wp:post-featured-image {"aspectRatio":"auto","width":"","height":""} /-->

<!-- wp:post-content /-->

<!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|70"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:post-navigation-link {"type":"previous","label":"Previous project","arrow":"arrow"} /-->

<!-- wp:post-navigation-link {"label":"Next project","arrow":"arrow"} /--></div>
<!-- /wp:group -->

<!-- wp:block {"ref":202} /--></header>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->